{% extends 'base.html' %}


{% block title %} صفحه ثبت سفارش Cabin Form {{ site_name }}{% endblock %}

{% block content %}
<div class="order-form-container">
  <h1 class="form-title"> فرم ثبت سفارش </h1>
  <p class="form-subtitle">
     لطفاً اطلاعات لازم را وارد کنید. تیم ما در سریع‌ترین زمان ممکن با شما تماس می‌گیرد.
  </p>

  <form method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit-button"> ثبت سفارش </button>
  </form>
</div>
{% endblock %}
